<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-4">
    <% if @user.dishes.any? %>
      <h3> Dishes (<%= @user.dishes.count %>)</h3>
      <ol class="dishes">
        <%= render @dishes %>
      </ol>
      <%= will_paginate @dishes %>
    <% end %>
  </div>
  <div class="col-md-4">
  </div>
</div>
