<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
    </aside>
    <div class="col-md-4">
      <% if @user.dishes.any? %>
        <h3> Dishes (<%= @user.dishes.count %>)</h3>
        <ol class="dishes">
          <%= render @dishes %>
        </ol>
        <%= will_paginate @dishes %>
      <% end %>
      <section class="dish_form">
         <div id="dish-form" style="display:none;"></div>
         <%= link_to 'New Dish', new_dish_path, remote: true%>
      </section>
    </div>
    <div class="col-md-4">
      <% if @user.events.any? %>
        <h3> Events (<%= @user.dishes.count %>)</h3>
        <ol class="events">
          <%= render @events %>
        </ol>
        <%= will_paginate @events %>
      <% end %>
      <section class="event_form">
        <div id="event-form" style="display:none;"></div>
        <%= link_to 'New Event', new_event_path, remote: true%>
      </section>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome</h1>
    <p>
      This is the potluck homepage
    </p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
