<li id="invitations-<%= invitation.id %>">
  <span class="invitation" data-toggle="modal" data-target="#show_invitation_<%= invitation.id %>"><%= invitation.event.name %></span>
</li>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="show_invitation_<%= invitation.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= invitation.event.name %></h4>
      </div>
      <div class="modal-body">
        <%= invitation.event.description %><br>
        <% if invited? invitation %>
        <%= link_to "Accept!",  accept_invitation_path(invitation), class: "btn btn-primary", method: :post%>
        <%= link_to "Decline.", decline_invitation_path(invitation), class: "btn btn-error", method: :post%>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
